.search {
  width: 75vw;
  height: 10vh;
  background-color: #000;
  display: flex;
  align-items: center;
  padding-left: 2rem;

  input {
    all: unset;
    color: #fff;
    font-family: "Outfit", sans-serif;
    padding-left: 2em;
  }
}
